<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="@{/homepage.html}" utext="#{label.pages.home.title}">home</a>
    </div> 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="@{/logout}" utext="#{label.pages.logout}">logout</a> </li>
      </ul>
    </div>
</nav>

<div class="container">
	<div if="${message != null}" class="alert alert-info" utext="${message}">message</div>
	
    <h1>This is the landing page for the manager</h1>

    <div authorize="hasAuthority('MANAGE_USER_PRIVILEGE')"> This text is only visible to a manager</div>
      <br/>
      <a class="btn btn-default" href="@{/changePassword.html}" utext="#{message.changePassword}">change password</a>
      <br/>
  </div>
</body>

</html>